
/* body {
  zoom: 80%;
  margin: 0; 
  background-color: gray; 

  
} */

.box {
  width: 1287px;
  height: 879px;
  /* border: 3px solid red; */

  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  backdrop-filter: blur(50px) brightness(100%);
  -webkit-backdrop-filter: blur(50px) brightness(100%);
  
}




.box .log-in-popup {
  position: fixed;
  width: 1287px;
  height: 879px;
  top: 0;
  left: 0;
  overflow: hidden;
  
}

.box .group {
  height: 879px;
}

.box .overlap {
  height: 879px;
  position: relative;
  border-radius: 20px;
}

.box .log-in-pic-wrapper {
  position: absolute;
  width: 1287px;
  height: 879px;
  top: 0;
  left: 0;
  background-color: #ffffff80;
  border-radius: 20px;
  box-shadow: inset -38.7px 38.7px 38.7px #ffffff1a, inset 38.7px -38.7px 38.7px #a4a4a41a;
  backdrop-filter: blur(77.4px) brightness(100%);
  -webkit-backdrop-filter: blur(77.4px) brightness(100%);
}

.box .log-in-pic {
  position: absolute;
  width: 633px;
  height: 832px;
  top: 23px;
  left: 17px;
  object-fit: cover;
}

.box .div {
  position: absolute;
  width: 414px;
  height: 625px;
  top: 123px;
  left: 758px;
}

.box .text-wrapper {
  position: absolute;
  width: 124px;
  height: 19px;
  top: 504px;
  left: 145px;
  mix-blend-mode: multiply;
  font-family: "Inter-SemiBold", Helvetica;
  font-weight: 600;
  color: #491d72;
  font-size: 16px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.box .group-2 {
  position: absolute;
  width: 295px;
  height: 82px;
  top: 0;
  left: 60px;
}

.box .welcome-to-wesmile {
  position: absolute;
  width: 291px;
  height: 36px;
  top: 47px;
  left: 0;
  mix-blend-mode: multiply;
  font-family: "Inter-SemiBold", Helvetica;
  font-weight: 600;
  color: #491d72;
  font-size: 25px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.box .span {
  font-family: "Inter-SemiBold", Helvetica;
  font-weight: 600;
  color: #491d72;
  font-size: 25px;
  letter-spacing: 0;
}

.box .text-wrapper-2 {
  font-size: 30px;
}

.box .text-wrapper-3 {
  position: absolute;
  width: 175px;
  height: 47px;
  top: 0;
  left: 64px;
  font-family: "Inter-Bold", Helvetica;
  font-weight: 700;
  color: #491d72;
  font-size: 40px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.box .overlap-group-wrapper {
  position: absolute;
  width: 413px;
  height: 96px;
  top: 359px;
  left: 0;
}

.box .overlap-group {
  position: relative;
  width: 411px;
  height: 96px;
  background-color: #7ed956;
  border-radius: 20px;
}

.box .text-wrapper-4 {
  position: absolute;
  width: 205px;
  height: 42px;
  top: 27px;
  left: 104px;
  font-family: "Inter-SemiBold", Helvetica;
  font-weight: 600;
  color: #491d72;
  font-size: 25px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.box .enter-email {
  position: absolute;
  width: 413px;
  height: 80px;
  top: 160px;
  left: 1px;
  
}

.box .div-wrapper {
  width: 411px;
  height: 80px;
  background-color: #ffffff;
  position: relative;
  border-radius: 20px;
}

.box .text-wrapper-5 {
  width: 147px;
  left: 24px;
  position: absolute;
  height: 19px;
  top: 30px;
  mix-blend-mode: multiply;
  font-family: "Inter-SemiBold", Helvetica;
  font-weight: 600;
  color: #a4a4a4;
  font-size: 18px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
  
  border: none;
  outline: none; /* Optional: Removes the focus outline */
}

.box .enter-password {
  position: absolute;
  width: 413px;
  height: 80px;
  top: 260px;
  left: 0;
}

.box .text-wrapper-6 {
  width: 186px;
  left: 25px;
  position: absolute;
  height: 19px;
  top: 30px;
  mix-blend-mode: multiply;
  font-family: "Inter-SemiBold", Helvetica;
  font-weight: 600;
  color: #a4a4a4;
  font-size: 18px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;

  border: none;
  outline: none; /* Optional: Removes the focus outline */
}

.box .group-3 {
  position: absolute;
  width: 173px;
  height: 78px;
  top: 547px;
  left: 121px;
}

.box .facebook-logo {
  position: absolute;
  width: 84px;
  height: 78px;
  top: 0;
  left: 88px;
}

.box .google-logo {
  position: absolute;
  width: 80px;
  height: 78px;
  top: 0;
  left: 0;
  object-fit: cover;
}